body{
   background: #48B7D02E;
}
.board-layout{
   margin-top: 5%;
}
.sidebar{    
    margin: 0 auto;
    width: 500px;
    height: 500px; 
    background: #000;
    position: relative;  
}
.main{
    
    width: 450px;
    height: 450px;
    background: #d1ac8e; 
    box-sizing: border-box;
    position: absolute;
    top: 25px;
    left: 25px;
    bottom: 25px;
    right: 25px; 
    border-radius: 12px; 

}
/* sidebar-corner */
.sidebar-corner{  
 background: #474747 !important;
}
/* ======= Bottom Extra part ======== */
.top-left-up{ 
 width: 50px;
 height: 25px; 
 position: absolute; 
 top: 0; 
}
.top-left-down{
 width: 25px;
 height: 50px;  
 position: absolute; 
 top: 0;
}
.top-right-up{
 width: 50px;
 height: 25px; 
 position: absolute; 
 top: 0;
 right: 0;
}
.top-right-down{
 width: 25px;
 height: 50px; 
 position: absolute; 
 top: 0;
 right: 0;
}
/* ========bottom part======== */
.bottom-left-up{ 
 width: 50px;
 height: 25px; 
 position: absolute; 
 bottom: 0;
}
.bottom-left-down{
 width: 25px;
 height: 50px;  
 position: absolute; 
 bottom: 0;
}
.bottom-right-up{
 width: 50px;
 height: 25px;
 position: absolute; 
 bottom: 0;
 right: 0;
}
.bottom-right-down{
 width: 25px;
 height: 50px; 
 position: absolute; 
 bottom: 0;
 right: 0;
}
 /* ======== Circle ======= */
 .hole-circle{ 
    width: 25px;
    height: 25px; 
    border-radius: 50%;
    background: #595958
 }

 /* ====== net hole positioning ====== */
.net-hole-top-left{
    position: absolute;
    top: 0px;
    left: 0px;
}
.net-hole-top-right{
    position: absolute;
    top: 0px;
    right: 0px;
}
.net-hole-bottom-left{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.net-hole-bottom-right{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
/*======= base circle ======= */
.base-circle{ 
    width: 25px;
    height: 25px; 
    border-radius: 50%; 
    background: rgb(220, 7, 7);
    border: 3px solid #000; 
 }

 /*==========Base top============*/
 .base-top-1{
    position: absolute;
    top: 10%;
    left: 15%;
 }
 .base-top-2{
    position: absolute;
    top: 10%;
    right: 15%;
 }
 .base-top-1::before{ 
    content: '';
    position: absolute;
    background: #000; 
    left: 13px;
    top: -2px;
    height: 3px;
    width: 285px;
 }
 .base-top-1::after{ 
    content: '';
    position: absolute;
    background: #000;
    top: 21px;
    left: 13px;
    height: 1px;
    width: 285px;
 } 
 .base-top-2::before{ 
    content: '';
    position: absolute;
    background: #000;
    top: 13px;
    right: 18px;
    height: 1px;
    width: 270px;
 } 
  /*==========Base bottom============*/
 .base-bottom-1{
    position: absolute;
    bottom: 10%;
    left: 15%;
 }
 .base-bottom-2{
    position: absolute;
    bottom: 10%;
    right: 15%;
 }
 
 .base-bottom-1::before{ 
    content: '';
    position: absolute;
    background: #000; 
    left: 13px;
    bottom: -2px;
    height: 3px;
    width: 285px;
 }
 .base-bottom-1::after{ 
    content: '';
    position: absolute;
    background: #000;
    bottom: 21px;
    left: 13px;
    height: 1px;
    width: 285px;
 } 
 .base-bottom-2::before{ 
    content: '';
    position: absolute;
    background: #000;
    bottom: 14px;
    right: 18px;
    height: 1px;
    width: 272px;
 } 
  /*==========Base left============*/
 .base-left-1{
    position: absolute;
    left: 10%;
    top: 15%;
 }
 .base-left-2{
    position: absolute;
    left: 10%;
    bottom: 15%;
 }
 .base-left-1::before{
    content: '';
    position: absolute;
    background: #000;
    top: 13px;
    left: -2px;
    width: 2px;
    height: 283px;
 }
 .base-left-1::after{
    content: '';
    position: absolute;
    background: #000;
    top: 13px;
    left: 21px;
    width: 1px;
    height: 285px;
 }
 .base-left-2::after{
    content: '';
    position: absolute;
    background: #000;
    bottom: 18px;
    left: 15px;
    width: 1px;
    height: 270px;
 }
 
/*==========Base right============*/
 .base-right-1{
    position: absolute;
    right: 10%;
    top: 15%;
 }
 .base-right-2{
    position: absolute;
    right: 10%;
    bottom: 15%;
 }
 .base-right-1::before{
    content: '';
    position: absolute;
    background: #000;
    top: 13px;
    right: -2px;
    width: 2px;
    height: 283px;
 }
 .base-right-1::after{
    content: '';
    position: absolute;
    background: #000;
    top: 13px;
    right: 21px;
    width: 1px;
    height: 285px;
 }
 .base-right-2::after{
    content: '';
    position: absolute;
    background: #000;
    bottom: 18px;
    right: 15px;
    width: 1px;
    height: 270px;
 }
/*=======carrommen========*/
.carrommen{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    border: 1px solid  #000;
}
/* ======== Arrow ========*/
.arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid  #464444;
}
.a-top-left{
   position: absolute; 
   top: 20%;
   left: 20%;
}
.a-top-left::after{ 
   content: '';
   position: absolute;
   transform: rotate(45deg);
   width: 115px;
   height: 1px;
   background: #000;
   top: -22.5px;
   left: -80px;
}
.a-top-right{
   position: absolute; 
   top: 20%;
   right: 20%;
}
.a-top-right::after{
   content: '';
   position: absolute;
   transform: rotate(-45deg);
   width: 115px;
   height: 1px;
   background: #000;
   top: -20.5px;
   right: -77px;
}
.a-bottom-left{
   position: absolute; 
   bottom: 20%;
   left: 20%;
}
.a-bottom-left::after{ 
   content: '';
   position: absolute;
   transform: rotate(-45deg);
   width: 115px;
   height: 1px;
   background: #000;
   top: 60.5px;
   left: -81px;
}
.a-bottom-right{
   position: absolute; 
   bottom: 20%;
   right: 20%;
}
.a-bottom-right::after{ 
   content: '';
   position: absolute; 
   transform: rotate(45deg);
   width: 115px;
   height: 1px;
   background: #000;
   top: 60px; 
   right: -80px;
}
 
.strick{
   position: absolute;
   width: 35px;
   height: 35px;
   bottom: 9%;
   left: 50%;
   border-radius: 50%;
   background: #0900B0;
   border: 1px solid #000;
   box-shadow: 0px 0px 1px #000;
   transform: translate(-50%);
}

/* coin */
.coin{ 
   width: 20px;
   height: 20px; 
   border-radius: 50%;
   box-shadow: 0px 0px 3px #000;
}
.white-coin{
   background: rgb(255, 255, 255); 
}
.black-coin{
   background: rgb(0, 0, 0); 
}
 

/* col-1 */
.coin-white-1{
   position: absolute;
   top: 30%;
   left: 14%;
   transform: translate(-50%,-50%);
}
.coin-black-1{
   position: absolute;
   top: 50%;
   left: 14%;
   transform: translate(-50%,-50%);
}
.coin-white-2{
   position: absolute;
   top: 70%;
   left: 14%;
   transform: translate(-50%,-50%);
}
/* col-2 */
.coin-black-2{
   position: absolute;
   top: 20%;
   left: 32%;
   transform: translate(-50%,-50%);
}
.coin-white-3{
   position: absolute;
   top: 40%;
   left: 32%;
   transform: translate(-50%,-50%);
}
.coin-black-3{
   position: absolute;
   top: 60%;
   left: 32%;
   transform: translate(-50%,-50%);
}
.coin-black-4{
   position: absolute;
   top: 80%;
   left: 32%;
   transform: translate(-50%,-50%);
}
/* cool 3 */
.coin-white-4{
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.coin-black-5{
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.red-coin{
   position: absolute;
   background: rgb(255, 0, 0); 
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.coin-white-5{
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.coin-white-6{
   position: absolute;
   top: 90%;
   left: 50%;
   transform: translate(-50%,-50%);
}
/* col-4 */

.coin-black-6{
   position: absolute;
   top: 20%;
   left: 68%;
   transform: translate(-50%,-50%);
}
.coin-white-7{
   position: absolute;
   top: 40%;
   left: 68%;
   transform: translate(-50%,-50%);
}
.coin-black-7{
   position: absolute;
   top: 60%;
   left: 68%;
   transform: translate(-50%,-50%);
}
.coin-black-8{
   position: absolute;
   top: 80%;
   left: 68%;
   transform: translate(-50%,-50%);
}
/* col-5 */
.coin-white-8{
   position: absolute;
   top: 30%;
   left: 86%;
   transform: translate(-50%,-50%);
}
.coin-black-9{
   position: absolute;
   top: 50%;
   left: 86%;
   transform: translate(-50%,-50%);
}
.coin-white-9{
   position: absolute;
   top: 70%;
   left: 86%;
   transform: translate(-50%,-50%);
}